.container {
  padding: 20px;
  height: 150px;
  border-bottom: 1px solid gray;
}

.top {
  display: flex;
  align-items: center;
}

.imgContainer {
  overflow: hidden;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.input {
  border: none;
  background-color: transparent;
  padding: 20px;
  width: 700px;
  border-radius: 30px;
}

.bottom {
  display: flex;
  justify-content: space-between;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  margin-left: 55px;
}

.button {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: skyblue;
  color: white;
  width: 100px;
  border-radius: 30px;
  border: none;
  font-size: 18px;
}
