.container {
  height: 75px;
  border-bottom: 1px solid gray;
}

.feeds {
  display: flex;
  padding: 20px;
}

.forYou {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  border-right: 1px solid black;
}

.following {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 3;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.settings {
  flex: 0.5;
  cursor: pointer;
  font-size: 24px;
}
